#wrap img {
    width: 100%; height: 100%;
}
.container {
    width: 100%;
    overflow: hidden;
    background-color: #222;
    padding-bottom: 200px;
    color: #fff;
}
.title_box {
    border-bottom: 1px solid gray;
    padding: 30px 20px 20px;
    overflow: hidden;
}
.group_title {
    font-size: 30px;
    float: left;
    font-weight: 900;
}
.select_r {
    float: right;
    outline: none;
    margin-top: 15px;
    font-size: 16px;
    padding: 3px 5px;
}
.content_box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 50px;
}
.content {
    width: calc((100% - 30px * 4) / 5);
}
.movie_name {
    font-size: 25px;
}
.star_icon {
    width: 20px;
    height: 20px;
    float: left;
}
.avg_box {
    margin-top: 10px;
    overflow: hidden;
}
.movie_avg {
    float: left;
    margin-left: 10px;
    font-size: 18px;
}