#wrap img {
    width: 100%; height: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
    background-color: #222;
    padding-bottom: 200px;
}
.main_banner {
    position: relative;
    width: 100%;
    height: 44vw;
    overflow: hidden;
}
.mainbanner_list a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
.mainbanner_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
    opacity: 0;
}
.main_banner > .on{
    opacity: 1;
}
#control {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    z-index: 99999;
}
#control a {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #f6f5f5;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 5px
}

#control a.on {
    background: #A785EF;
}
.left_btn>span:first-child{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 8px;
    background-color: #A785EF;
    border-radius: 10px;
    transform: translateY(63px) rotate(50deg);
}
.left_btn>span:last-child{
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #A785EF;
    border-radius: 10px;
    transform: translateY(30px) rotate(-50deg);
}
.left_btn:hover span{
    background-color: #fff;
    transition: 0.2s ease;
}
.left_btn{
    position: absolute;
    z-index: 9999;
    width: 50px;
    height: 100px;
    top: 50%;
    left: 2%;
    transform: translate(0%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
}
.right_btn{
    position: absolute;
    z-index: 9999;
    width: 50px;
    height: 100px;
    top: 50%;
    right: 2%;
    transform: translate(0%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
}
.right_btn>span:first-child{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 8px;
    background-color: #A785EF;
    border-radius: 10px;
    transform: translateY(63px) rotate(-50deg);
}
.right_btn>span:last-child{
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #A785EF;
    border-radius: 10px;
    transform: translateY(30px) rotate(50deg);
}
.right_btn:hover span{
    background-color: #fff;
    transition: 0.2s ease;
}

.search_bar {
    width: 950px;
    height: 50px;
    margin: 100px auto;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}
.search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    border: none;
    outline: none;
}
.s_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.s_icon img {
    color: gray;
    filter: opacity(0.5) drop-shadow(0 0 0 gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content {
    width: 1400px;
    margin: 30px auto;
}
.content_box { position: relative;}
.title_box {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    margin-top: 50px;
}
.title {
    height: 60px;
    line-height: 60px;
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: 900;
}
.title_icon {
    width: 60px;
    height: 60px;
    float: left;
}
.title_icon img {
    width: 100%; height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.more_btn {
    float: right;
    color: #fff;
    font-size: 18px;
    padding-top: 30px;
}

.ranking_poster_box {
    margin: 0 auto;
}

.recommended_item_content {
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.swiper {
    width: 1400px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1.4;
    object-fit: cover;
}
.swiper-wrapper {
    height: auto !important;
}
.swiper-slide {
    position: relative;
}
.ranking {
    position: absolute;
    left: -50px;
    bottom: -10px;
    color: #a6a0a0d6;
    font-size: 120px;
    font-style: italic;
    font-weight: 900;
    cursor: default;
}
.search_cnt_max .ranking_none {
    display: none;
}

.swiper-pagination {
    display: none;
}

:root {
    --swiper-theme-color: #fff !important;
    border-color: #fff;
}

.btn_be_ne {
    width: 50px;
    height: 50px;
    color: #ffffffa1;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    background: #ffffff45;
    box-shadow: 3px 1px 10px 1px #595959;
}
.before_btn {
    left: -30px;
}
.next_btn {
    right: -30px;
}
.poster_box {
    width: 100%;
    display: flex;
    gap: 20px;
}
.poster {
    width: 100%
}
.review_box {
    width: 100%;
    display: flex;
    gap: 20px;
}
.review {
    width: 100%;
    height: 100%;
    background-color: #ffffffe0;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.review_movie_name {
    font-size: 22px;
    padding: 10px 0;
}
.star_icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 20px;
}
.movie_star {
    float: left;
}
.review_title {
    float: left;
}
.review_txt {
    margin: 10px 0 20px;
    height: 100px;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.review_right_box {
    float: left;
    display: flex;
    align-items: flex-end;
}
.like_box {
    float: right;
    display: flex;
    align-items: center;
}
.like_icon, .like_bin {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.like_cnt {float: left;}


.glasses {
    color: #fff;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
}

@media screen and (min-width: 280px) and (max-width: 480px) {
    .container {
        padding-bottom: 100px;
    }
    .main_banner {
        margin: 0;
    }
    .right_btn, .left_btn {
        width: 30px;
    }
    .left_btn>span:first-child {
        width: 30px;
        height: 5px;
        transform: translateY(57px) rotate(50deg);
    }
    .left_btn>span:last-child {
        width: 30px;
        height: 5px;
        transform: translateY(36px) rotate(-50deg);
    }
    .right_btn>span:first-child {
        width: 30px;
        height: 5px;
        transform: translateY(57px) rotate(-50deg);
    }
    .right_btn>span:last-child {
        width: 30px;
        height: 5px;
        transform: translateY(36px) rotate(50deg);
    }
    #control {
        bottom: 10px;
    }
    .search_bar {
        width: 70%;
        height: 40px;
        margin: 40px auto;
        border-radius: 20px;
    }
    input::placeholder {
        font-size: 10px;
    }
    .s_icon {
        right: 10px;
    }
    .content {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .title_box {
        height: 40px;
    }
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .title_icon {
        width: 50px;
        height: 50px;
        margin-top: -6px;
    }
    .swiper {
        width: 75%;
    }
    .swiper-slide {
        height: 100px;
    }
    .ranking {
        left: -20px;
        font-size: 55px;
    }
    .new_arr {
        margin: -20px;
        transform: scale(1.1);
    }
    .ranking_poster_box {
        margin: 0 auto;
        margin-left: -30px;
    }
    .review_box {
        flex-wrap: wrap;
    }
    .poster_box {
        flex-wrap: wrap;
    }
    .review_movie_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9em;
        padding: 0;
    }
    .review_txt {
        margin: 5px 0 10px;
        font-size: 0.6em;
    }
    .review_title, .movie_star {
        font-size: 0.5em;
    }
    .star_icon {
        width: 15px;
        height: 15px;
        margin: 0 5px 0 10px;
    }
    .like_icon, .like_bin {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .more_btn {
        padding-top: 15px;
    }
    .poster {
        width: calc((100% - 20px) / 2);
    }
    :root {
        --swiper-navigation-size: 22px !important;
    }
}