<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
<!--        Dto 별칭 정하기-->
        <typeAlias alias="movieDto" type="com.movielike.app.domain.movieDto" />
    </typeAliases>
</configuration>