<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Like</title>
    <link rel="icon" href="./img/favicon.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/join_page.css">
</head>
<body>
    <div id="wrap">
        <div class="login_bg"></div>
        <main class="container">
            <div class="logo"><a href="#"><img src="./img/logo.png" alt="로고 이미지"></a></div>
            <form action="" class="join_form" name="form1" onselectstart="return false">
                <div class="title">회원가입</div>
                <table>
                    <tr>
                        <th class="th1">아이디</th>
                        <th>
                            <input type="email" class="login_input" id="email" name="email" placeholder="이메일 형식으로 입력해주세요">
                            <div class="warning_box">
                                <img src="./img/warning.png" alt="" class="warning">
                                <div id="email_error" class="error">이메일 형식으로 입력해주세요</div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="th1">비밀번호</th>
                        <th><input type="password" name="password" id="password" class="login_input" minlength="6" placeholder="비밀번호 - 6자 이상"></th>
                    </tr>
                    <tr>
                        <th class="th1">비밀번호 확인</th>
                        <th><input type="password" name="password_chk" id="password_chk" class="login_input" placeholder="비밀번호 - 6자 이상"></th>
                    </tr>
                    <tr>
                        <th class="th1">이름</th>
                        <th><input type="text" name="name" class="login_input"></th>
                    </tr>
                    <tr>
                        <th class="th1">생년월일</th>
                        <th>
                            <select class="birthday" name="birth" id="birth_year">
                                <option selected>연도</option>
                            </select>
                            <select class="birthday" id="birth_month">
                                <option value="월" selected>월</option>
                            </select>
                            <select class="birthday" id="birth_date">
                                <option value="일" selected>일</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th class="th1">전화번호</th>
                        <th>
                            <input type="text" name="phone" class="phone_input" maxlength="3"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            <input type="text" class="phone_input" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            <input type="text" class="phone_input" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </th>
                    </tr>
                    <tr>
                        <th class="th1">닉네임</th>
                        <th><input type="text" name="nickname" class="login_input"></th>
                    </tr>
                    <tr>
                        <th class="th1">나의 영화 취향<br>(선택)</th>
                        <th>
                            <input type="checkbox" id="genre1" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre1"><span class="genre">로맨스</span></label></span>
                            <input type="checkbox" id="genre2" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre2"><span class="genre">액션</span></label></span>
                            <input type="checkbox" id="genre3" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre3"><span class="genre">스릴러</span></label></span>
                            <input type="checkbox" id="genre4" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre4"><span class="genre">공포</span></label></span>
                            <input type="checkbox" id="genre5" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre5"><span class="genre">코미디</span></label></span>
                            <input type="checkbox" id="genre6" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre6"><span class="genre">판타지</span></label></span>
                            <input type="checkbox" id="genre7" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre7"><span class="genre">멜로</span></label></span>
                            <input type="checkbox" id="genre8" class="genre_checkbox">
                            <span class="genre_label_chk"><label for="genre8"><span class="genre">범죄</span></label></span>
                        </th>
                    </tr>
                    

                    <tr>
                        <th colspan="2"><input type="submit" class="login_btn" value="회원가입" onclick="joinCheck()"></th>
                    </tr>
                </table>
            </form>
        </main>
    </div>
    <script src="./js/join.js"></script>
</body>
</html>