<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Like</title>
    <link rel="icon" href="./img/favicon.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/login_page.css">
</head>
<body>
    <div id="wrap">
        <div class="login_bg"></div>
        <main class="container">
            <div class="logo"><a href="#"><img src="./img/logo.png" alt="로고 이미지"></a></div>
            <form action="" class="login_form">
                <div class="title">로그인</div>
                <hr>
                <div class="input_box">
                    <input type="text" class="login_input_text" placeholder="아이디(이메일)을 입력하세요.">
                </div>
                <div class="input_box">
                    <input type="text" class="login_input_text" placeholder="비밀번호를 입력하세요">
                </div>
                <div class="input_box id_chk_box">
                    <input type="checkbox" class="input_checkbox" name="id_chk" id="id_chk" value="id_chk">
                    <label for="id_chk" class="check_txt">아이디 기억하기</label>
                </div>
                <div class="input_box"><input type="button" class="login_input input_btn" value="로그인"></div>
                <div class="id_search_box">
                    <div class="id_search">아이디 찾기</div>
                    <div class="h_line"></div>
                    <div class="id_search">비밀번호 찾기</div>
                    <div class="h_line"></div>
                    <div class="id_search"><a href="./Movie_Like_join.html">회원가입</a></div>
                </div>
            </form>
            
        </main>

        <footer class="footer">
            <div class="name">Project Name: Movie Like</div>
        </footer>
    </div>
</body>
</html>