<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/find_page.css">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="logo"><a href="#"><img src="./img/logo-removebg-preview.png" alt="로고 이미지"></a></div>
            <div class="h_left left_50"><a href="">영화 전체보기</a></div>
            <div class="h_left"><a href="./Movie_Like_find.html">차트</a></div>
            <div class="h_left"><a href="">키워드 찾기</a></div>
            <div class="h_right">
                <div class="login"><a href="">로그인</a></div>
                <div class="line"></div>
                <div class="join"><a href="">회원가입</a></div>
            </div>
        </header>
        <main class="container">
            <div class="content">
                <div class="content_box">
                    <div class="title_box">
                        <div class="title">장르별</div>
                    </div>
                    <div class="find_content_box">
                        <div class="content_list content_list8">액션</div>
                        <div class="content_list content_list8">멜로/로맨스</div>
                        <div class="content_list content_list8">코미디</div>
                        <div class="content_list content_list8">스릴러</div>
                        <div class="content_list content_list8">공포</div>
                        <div class="content_list content_list8">판타지</div>
                        <div class="content_list content_list8">범죄</div>
                        <div class="content_list content_list8">기타</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_box">
                    <div class="title_box">
                        <div class="title">국가별</div>
                    </div>
                    <div class="find_content_box">
                        <div class="content_list content_list5">대한민국</div>
                        <div class="content_list content_list5">영국</div>
                        <div class="content_list content_list5">미국</div>
                        <div class="content_list content_list5">일본</div>
                        <div class="content_list content_list5">중국</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_box">
                    <div class="title_box">
                        <div class="title">연도별</div>
                    </div>
                    <div class="find_content_box">
                        <div class="content_list content_list5">1990년대 이전</div>
                        <div class="content_list content_list5">1990년대</div>
                        <div class="content_list content_list5">2000년대</div>
                        <div class="content_list content_list5">2010년대</div>
                        <div class="content_list content_list5">2020년대</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_box">
                    <div class="title_box">
                        <div class="title">나이대별</div>
                    </div>
                    <div class="find_content_box">
                        <div class="content_list content_list5">10대</div>
                        <div class="content_list content_list5">20대</div>
                        <div class="content_list content_list5">30대</div>
                        <div class="content_list content_list5">40대</div>
                        <div class="content_list content_list5">50대 이상</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content_box">
                    <div class="title_box">
                        <div class="title">OTT별</div>
                    </div>
                    <div class="find_content_box">
                        <div class="content_list content_list6">넷플릭스</div>
                        <div class="content_list content_list6">티빙</div>
                        <div class="content_list content_list6">쿠팡플레이</div>
                        <div class="content_list content_list6">왓챠</div>
                        <div class="content_list content_list6">웨이브</div>
                        <div class="content_list content_list6">디즈니+</div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="name">Project Name: Movie Like</div>
        </footer>
    </div>
</body>
</html>