<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/detail_page.css">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="logo"><a href="#"><img src="./img/logo-removebg-preview.png" alt="로고 이미지"></a></div>
            <div class="h_left left_50"><a href="">영화 전체보기</a></div>
            <div class="h_left"><a href="./Movie_Like_find.html">차트</a></div>
            <div class="h_left"><a href="">키워드 찾기</a></div>
            <div class="h_right">
                <div class="login"><a href="">로그인</a></div>
                <div class="line"></div>
                <div class="join"><a href="">회원가입</a></div>
            </div>
        </header>
        <main class="container">
            <div class="content1">
                <div class="detail_poster"><img src="./img/poster.jpg" alt=""></div>
                <div class="detail_content">
                    <div class="movie_title">영화명</div>
                    <div class="movie_year">(개봉년)</div>
                    <div class="movie_country">국가명</div>
                    <div class="movie_genre">장르</div>
                    <div class="movie_ott">가능한 OTT 서비스</div>
                    <div class="avg_box">
                        <div class="star_icon"><img src="./img/star.png" alt=""></div>
                        <div class="movie_avg">4.2</div>
                    </div>
                </div>
                <div class="click_box">
                    <div class="click_box1"><a href="">
                        <div class="click_icon"><img src="./img/heart.png" alt="찜"></div>
                        <div class="click_menu">찜</div>
                    </a></div>
                    <div class="click_box1"><a href="">
                        <div class="click_icon"><img src="./img/check.png" alt="봤어요"></div>
                        <div class="click_menu">봤어요</div>
                    </a></div>
                    <div class="click_box1"><a href="">
                        <div class="click_icon"><img src="./img/share.png" alt="공유"></div>
                        <div class="click_menu">공유</div>
                    </a></div>
                    <div class="click_box1"><a href="">
                        <div class="click_icon"><img src="./img/write.png" alt="리뷰작성"></div>
                        <div class="click_menu">리뷰작성</div>
                    </a></div>
                </div>
                
                <div class="best_review_box">
                    <div class="best_title">이 영화의 베스트 리뷰</div>
                    <div class="best_icon"><img src="./img/best_review.png" alt=""></div>
                    <div class="best_box">
                        <div class="best">
                            <div class="best_review_id">닉네임</div>
                            <div class="star_icon_best"><img src="./img/star.png" alt=""></div>
                            <div class="movie_star_best">4.2</div>
                            <div class="best_review_txt">리뷰 내용</div>
                            <div class="like_box">
                                <div class="like_icon"><img src="./img/heart_cnt.png" alt=""></div>
                                <div class="like_cnt">256</div>
                            </div>
                        </div>
                        <div class="best"></div>
                        <div class="best"></div>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="title_txt">줄거리</div>
                <div class="txt">줄거리 내용</div>
                <div class="title_txt">감독 / 출연배우</div>
                <div class="actor_box">
                    <div class="actor_box1">
                        <div class="photo"></div>
                        <div class="photo_name">배우이름</div>
                    </div>
                </div>
                <div class="title_txt">예고편 영상</div>
                <div class="preview"></div>
                <div class="review_box">
                    <div class="title_txt">모든 리뷰</div>
                    <select class="select_r">
                        <option value="latest" selected>최신순</option>
                        <option value="like">좋아요순</option>
                    </select>
                    <div class="review_list_box">
                        <div class="list_line"></div>
                        <div class="review_title_box">
                            <div class="nickname">닉네임</div>
                            <div class="star_icon1"><img src="./img/star.png" alt=""></div>
                            <div class="movie_avg1">4</div>
                            <div class="write_date">4달 전</div>
                        </div>
                        <div class="review_content">리뷰입력</div>
                        <div class="like_box">
                            <div class="like_icon"><img src="./img/heart_cnt.png" alt=""></div>
                            <div class="like_cnt">256</div>
                        </div>
                    </div>
                    <div class="review_list_box">
                        <div class="list_line"></div>
                        <div class="review_title_box">
                            <div class="nickname">닉네임</div>
                            <div class="star_icon1"><img src="./img/star.png" alt=""></div>
                            <div class="movie_avg1">4</div>
                            <div class="write_date">4달 전</div>
                        </div>
                        <div class="review_content">리뷰입력</div>
                        <div class="like_box">
                            <div class="like_icon"><img src="./img/heart_cnt.png" alt=""></div>
                            <div class="like_cnt">256</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>