<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movielike.app.dao.movieMapper">
<!-- ..................................... -->
<!-- ............키워드 찾기............... -->
<!-- ..................................... -->
<!-- 키워드 찾기 무비 리스트 출력 -->
    <select id="selectMovie" parameterType="movieDto" resultType="movieDto">
        select DISTINCT m.movId, m.movName, m.movNameEng, m.movDate, m.movTime, m.movPoster, (m.movScore / m.movScoreCnt) movScore, m.movScoreCnt
        from movie m
        <if test="genreList != null and genreList.size != 0">
            , genre g, movieGenre mg
        </if>
        <if test="countryNameList != null and countryNameList.size != 0">
            , country c
        </if>
        <if test="ottList != null and ottList.size != 0">
            , ott o, movieOtt mo
        </if>

        where true
        <if test="genreList != null and genreList.size != 0">
            and mg.movId = m.movId and mg.genrId = g.genrId and (
            <trim prefixOverrides="OR">
                <foreach collection = "genreList" item = "genre" separator=" ">
                    OR g.genrName = #{genre}
                </foreach>
            </trim>
            )
        </if>
        <if test="countryNameList != null and countryNameList.size != 0">
            and c.movId = m.movId and (
            <trim prefixOverrides="OR">
                <foreach collection = "countryNameList" item = "country" separator=" ">
                    OR c.cName = #{country}
                </foreach>
            </trim>
            )
        </if>
        <if test="ottList != null and ottList.size != 0">
            and mo.movId = m.movId and o.ottId = mo.ottId and (
            <trim prefixOverrides="OR">
                <foreach collection = "ottList" item = "ott" separator=" ">
                    OR o.ottId = #{ott.ottId}
                </foreach>
            </trim>
            )
        </if>
        <if test="movScoreCnt > 0">
            and m.movScoreCnt >= #{movScoreCnt}
        </if>
        <if test="movScore > 0">
            and (m.movScore / m.movScoreCnt) >= #{movScore}
        </if>
        <choose>
            <when test="sort == 0">
                order by m.movDate desc
            </when>
            <when test="sort == 1">
                order by m.movScoreCnt, movScore
            </when>
        </choose>
        limit #{nowPage}, #{pageSize}
    </select>

<!-- person데이터 출력 -->
    <select id="selectPerson" parameterType="map" resultType="personDto">
        select p.perId, p.perName, p.perImgSrc, mp.perJob from person p, moviePerson mp
            where mp.perId = p.perId
                and mp.movId = #{movId}
                <if test="perJob != '' and perJob != null">
                    and mp.perJob = #{perJob}
                </if>
            order by mp.perJob, p.perName;
    </select>

<!-- country데이터 출력 -->
<!-- 나라,나라 식으로 출력됨-->
    <select id="selectCountry" parameterType="int" resultType="String">
        select cName from country
            where movId = #{movId}
        ORDER BY cName;
    </select>

<!-- genre데이터 출력 -->
<!-- 장르,장르 식으로 출력됨-->
    <select id="selectGenre" parameterType="int" resultType="String">
        select g.genrName from genre g, movieGenre mg
            where mg.genrId = g.genrId
            and mg.movId = #{movId}
        ORDER BY g.genrName;
    </select>

<!-- ott데이터 출력 -->
    <select id="selectOtt" parameterType="int" resultType="ottDto">
        select o.ottId, o.ottName from ott o, movieOtt mo
            where mo.ottId = o.ottId
                and mo.movId = #{movId}
        ORDER BY o.ottName;
    </select>

<!-- ..................................... -->
<!-- ............메인 페이지............... -->
<!-- ..................................... -->
<!--    메인페이지 메인배너를 위한 사용자 취향 장르 확인-->
    <select id="selectUserGenre" parameterType="int" resultType="String">
        select genrId from userGenre
        where userId = #{userId};
    </select>

    <!--    메인페이지 메인배너 영화 조회-->
    <select id="selectMainBanner" parameterType="String" resultType="movieDto">
        select DISTINCT m.movId, m.movName, m.movPoster, m.movTrailer, m.movDate from movie m
        <choose>
            <when test="list!=null and  list.size!=0">
                , movieGenre mg
                where m.movId = mg.movId and (
                <trim prefixOverrides="OR">
                    <foreach collection="list" item = "genre" separator=" ">
                        OR mg.genrId = #{genre}
                    </foreach>
                </trim>
                ) and NOT m.movTrailer = ""
            </when>
            <otherwise>
                where NOT m.movTrailer = ""
            </otherwise>
        </choose>
        ORDER BY m.movDate desc
        limit 0, 5;
    </select>

<!--    메인페이지 순위 영화 조회-->
<!--    "" : 전체 인기조회
        "netflix" : 넷플릭스 인기 조회
        "search" : 검색 인기 조회-->
    <select id="selectBest" parameterType="String" resultType="movieDto">
        select DISTINCT m.movId, m.movName, m.movPoster, m.movSearchCnt, m.movScoreCnt, m.movScore from movie m
        <if test="search == 'netflix'">
            , movieOtt mo
            where mo.ottId = 8 and mo.movId = m.movId
        </if>
        <choose>
            <when test="search == 'search'">
                ORDER BY m.movSearchCnt
            </when>
            <otherwise>
                ORDER BY m.movScoreCnt, m.movScore
            </otherwise>
        </choose>
        limit 0, 10;
    </select>

<!--    메인페이지 시리즈 영화 조회 (지브리, 마블, 해리포터)-->
    <select id="selectSeries" parameterType="String" resultType="movieDto">
        select DISTINCT m.movId, m.movName, m.movPoster, m.movDate from movie m, series s
            where s.movId = m.movId
                and s.serName = #{serName}
        ORDER BY m.movDate desc
        limit 0, 6;
    </select>

<!-- ....................................... -->
<!-- ............리스트 페이지............... -->
<!-- ....................................... -->
    <select id="selectSearchMov" parameterType="map" resultType="movieDto">
        select DISTINCT m.movId, m.movName, m.movDate, m.movPoster, (m.movScore / m.movScoreCnt) movScore, m.movScoreCnt
            from movie m
            <choose>
                <when test="title=='search'">
                    , person p, moviePerson mp
                    where ((m.movId = mp.movId) and (mp.perId = p.perId))
                        and ( m.movName like concat('%',#{val},'%') or m.movNameEng like concat('%',#{val},'%')
                        or p.perName like concat('%',#{val},'%') );
                </when>
                <when test="title=='series'">
                    , series s
                    where m.movId = s.movId
                        and s.sName = #{val};
                </when>
                <when test="title=='genr'">
                    , movieGenre mg
                    where m.movId = mg.movId
                        and mg.genrId = #{val}
                </when>
                <when test="title=='year'">
                    where m.movDate BETWEEN #{startYear} and #{endYear}
                </when>
                <when test="title=='age'">
                    , watchedMovie mw, user u
                    where (u.userId = mw.userId and mw.movId = m.movId)
                        and (u.userBirth BETWEEN #{startAge} and #{endAge})
                </when>
                <when test="title=='ott'">
                    , movieOtt mo
                    where m.movId = mo.movId
                        and mo.ottId = #{val}
                </when>
                <when test="title=='country'">
                    , country c
                    where m.movId = c.movId
                        and c.cName = #{val}
                </when>
                <when test="title=='myView'">
                    , watchedMovie mw
                    where mw.movId = m.movId
                        and mw.userId = #{userId}
                </when>
                <when test="title=='myLike'">
                    , myList um
                    where um.movId = m.movId
                        and um.userId = #{userId}
                </when>
                <when test="title=='myScore'">
                    , review r
                    where r.movId = m.movId
                        and r.userId = #{userId}
                        and r.rvScore = #{val}
                </when>
            </choose>
        <choose>
            <when test="sort == 0">
                order by m.movDate desc
            </when>
            <when test="sort == 1">
                order by m.movScoreCnt, movScore
            </when>
        </choose>
    </select>

</mapper>