<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movielike.app.dao.watchedMovieMapper">
    <select id="selectMDwatchedMovie" parameterType="watchedMovieDto" resultType="int">
        select count(*) from watchedmovie where userId = #{userId} and movId = #{movId}
    </select>

    <insert id="insertWatchedMovie" parameterType="watchedMovieDto">
        insert into watchedmovie (movId, userId) values (#{movId}, #{userId})
    </insert>

    <delete id="deleteWatchedMovie" parameterType="watchedMovieDto">
        delete from watchedmovie where movId = #{movId} and userId = #{userId}
    </delete>

    <!-- 정선    -->
    <!-- 키워드 찾기 무비 리스트 출력 -->
    <select id="selectWatchedMovie" resultType="watchedMovieDto" parameterType="watchedMovieDto">
        select * from watchedmovie WHERE userId = #{userId}
    </select>
    <!--  수빈   -->
    <delete id="deleteAllWatchedMovie" parameterType="int">
        delete from watchedmovie where userId = #{userId}
    </delete>
</mapper>